@keyframes jump {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-20px); }
}

.sign-in-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  background-image: url("C:\Users\gabri\OneDrive\Documentos\UTEC 2023 - 2\Desarrollo Web\DBP CODE\Funk_MP\marketplace_funko\front_end\main\src\resources\funko background.jpg");
}

.sign-in-form {
  background-color:#AED6F1;
  padding: 20px;
  border-radius: 2vmin;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center; /* Agregamos la animación */
}

.sign-in-form:hover {
  animation: jump 0.5s ease-in-out infinite; /* La animación se activa al pasar el mouse */
}
.sign-in-form h2 {
  margin: 0;
}

.sign-in-form form {
  display: flex;
  flex-direction: column;
}

.sign-in-form label {
  margin: 10px 0;
}

.sign-in-form input {
  padding: 5px;
}

.sign-in-form button {
  padding: 10px;
  background-color: #4280F3  ;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s; /* Agregamos una transición suave */
}

.sign-in-form button:hover {
  background-color: rgb(60, 160, 180); /* Cambiamos el color al pasar el mouse */
}

.signInPrompt{
  color: black;
  z-index: 10;
  text-decoration:underline;
  font-weight: bold;
  color: blue;
}
