@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

.App {
  font-family: sans-serif;
  text-align: center;
}

:root {
  --main-color: rgb(98, 214, 227);
  --secondary-color: rgba(3,30,60,255);
  padding: 0;
  margin: 0;
}

*{
  font-family: 'Rubik', sans-serif;
}
/*
Corrección del style.css
*/
