.topBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 10%;
  background: rgb(3, 30, 60);
  box-sizing: border-box;
  padding: 0 2vmin;
}

a{
  color: white;
  text-decoration: none;
}

.background-bar {
  background-color: rgb(3, 30, 60);
  height: 200px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.logo {
  z-index: 1;
}

.logo img {
  max-width: 75px;
  max-height: 175px;
}

.search-bar {
  height: 50%;
  width: 40vmin;
}

.search-bar input {
  width: 100%;
  height: 100%;
  border-radius: 5vmin;
  box-sizing: border-box;
  padding: 0 2vmin;
  border: none;
  outline: none;
}

.logo img, .profile-icon {
  width: 80px;
  height: 80px;
}

.profile-icon {
  border-radius: 60%;
  object-fit: cover;
  margin-left: 20px;
  cursor: pointer;
}

